<div class="login">
  <div class="right-side"></div>
  <div class="left-side">
    <div class="home-link">
      <%= link_to 'Sports Hub', page_home_url %>
    </div>
    <div class="img-wrap">
      <%= image_tag('/assets/login.png') %>
    </div>
  </div>
</div>
