/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.top-menu {
    border-bottom: 1px solid #EDEDED;
}
.top-menu .logo {
    background: #D72130;
    padding: 26px 66px;
    display: inline-block;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}
.top-menu .logo a {
    text-decoration: none;
    color: #fff;
}
.top-menu .search {
    padding: 0 37px;
}
.top-menu .search .material-icons {
    position: relative;
    top: 8px;
}
.top-menu .search input{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    border: none;
    color: #B2B2B2;
    height: 19px;
    outline: none;
    margin-left: 22px;
}
.top-menu .socials {
    padding: 35px 69px 29px;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
}
.top-menu .socials .social-label {
    color: #7F8899;
}
.top-menu .socials a {
    margin-left: 32px;
}
.top-menu .profile {
    padding: 0 76px 0 104px;
}
.top-menu .profile .username {
    margin-left: 10px;
}
.top-menu .profile .username a {
    text-decoration: none;
    color: #000;
}
.top-menu .lang-wrap .material-icons,
.top-menu .profile .material-icons {
    position: relative;
    top: 8px;
}
.top-menu .lang-wrap .lang {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: 2px;
}
.top-menu .lang-wrap .material-icons,
.top-menu .profile .material-icons {
    position: relative;
    top: 8px;
}

.sidebar {
    padding: 68px 0 0;
}
.sidebar li {
    list-style: none;
    padding: 8px 0;
}
.sidebar li a {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #B2B2B2;
    text-decoration: none;
    line-height: 19px;
}
.sidebar li.active a {
    color: #C63638;
}
.sidebar li.active {
    list-style: disc;
}
