/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.top-menu {
    border-bottom: 1px solid #EDEDED;
}
.top-menu .logo {
    background: #D72130;
    padding: 26px 66px;
    display: inline-block;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}
.top-menu .logo a {
    text-decoration: none;
    color: #fff;
}
.top-menu .search {
    padding: 0 37px;
}
.top-menu .search .material-icons {
    position: relative;
    top: 8px;
}
.top-menu .search input{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    border: none;
    color: #B2B2B2;
    height: 19px;
    outline: none;
    margin-left: 22px;
}
.top-menu .socials {
    padding: 35px 69px 29px;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
}
.top-menu .socials .social-label {
    color: #7F8899;
}
.top-menu .socials a {
    margin-left: 32px;
}
.top-menu .profile {
    padding: 0 76px 0 104px;
}
.top-menu .profile .username {
    margin-left: 10px;
}
.top-menu .profile .username a {
    text-decoration: none;
    color: #000;
}
.top-menu .lang-wrap .material-icons,
.top-menu .profile .material-icons {
    position: relative;
    top: 8px;
}
.top-menu .lang-wrap .lang {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: 2px;
}
.top-menu .lang-wrap .material-icons,
.top-menu .profile .material-icons {
    position: relative;
    top: 8px;
}

.sidebar {
}
.sidebar li {
    list-style: none;
    padding: 8px 0;
}
.sidebar li a {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #B2B2B2;
    text-decoration: none;
    line-height: 19px;
}
.sidebar li.active,
.sidebar li.active a {
    color: #C63638;
}
.sidebar li.active {
    list-style: disc;
}

.content {
    padding: 68px 0 0;
}
.content .top-block {
    position: relative;
}
.content .top-block .img-wrap {
    width: 814px;
}
.content .top-block .side-article {
    position: absolute;
    top: 86px;
    right: -8px;
    background: #F6F6F6;
    width: 420px;
    box-shadow: 0px 38px 87px -41px rgba(34, 60, 80, 0.6);
}
.content .top-block .side-article .art-wrap {
    padding: 50px 33px;
    position: relative;
}
.content .top-block .side-article .publish-date {
    font-size: 14px;
    font-weight: 400;
    color: #7F7B7B;
}
.content .top-block .side-article .title {
    font-weight: 600;
    font-size: 16px;
    color: #C63638;
}
.content .top-block .side-article .desc {
    font-size: 22px;
    font-weight: 700;
    color: #2B2F43;
}
.content .top-block .side-article .block-btn {
    padding: 11px 66px;
    background: #D72130;
    display: inline-block;
}
.content .top-block .side-article .block-btn a {
    color: #F6F6F6;
    font-weight: 600;
    text-decoration: none;
}
.content .top-block .pagination {
    position: absolute;
    right: 0;
    bottom: -126px;
}
.content .top-block .pagination .arrow-left {
    margin-right: 14px;
}
.content .top-block .pagination .arrow-left,
.content .top-block .pagination .arrow-right {
    border: 1px solid #979797;
    border-radius: 50%;
    color: #979797;
    position: relative;
    top: 6px;
    cursor: pointer;
}
.content .top-block .pagination .arrow-right {
    margin-left: 21px;
}
.content .top-block .pagination .page {
    font-size: 16px;
    font-weight: bold;
    color: #B2B2B2;
    margin-left: 10px;
    cursor: pointer;
}
.content .top-block .pagination .page.active {
    color: #C63638;
}
