/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables';
.articles {
  .add-btn {
    background: $red;
    color: #fff;
    padding: 8px 28px;
    text-decoration: none;
    float: right;
    margin-top: -2px;
  }
  .article {
    padding: 25px;
    margin: 8px 0;
    max-width: 400px;
    transition: 0.3s;
    &:hover {
      background: #FFFFFF;
      box-shadow: 0px 5px 33px -2px rgba(34, 60, 80, 0.2);
      transition: 0.3s;
      .btn-group {
        opacity: 1;
        transition: visibility 0s, opacity 0.3s linear;
      }
    }
    .title {
      font-weight: bold;
      font-size: 16px;
      color: #2B2F43;
    }
    .desc {
      color: #7F7B7B;
      font-size: 14px;
    }
    .published {
      text-align: right;
      font-weight: 600;
      font-size: 12px;
      color: #434C5D;
      .circle {
        margin-right: 8px;
        width: 8px;
        background: #229D1F;
        border-radius: 50%;
        height: 8px;
        display: inline-block;
      }
    }
    .btn-group {
      cursor: pointer;
      opacity: 0;
      transition: visibility 0s, opacity 0.3s linear;
      float: right;
      .dropdown {
        color: #E02232;
      }
      .dropdown-menu {
        transition: 0.3s;
        .dropdown-item {
          display: block;
          padding: 4px 16px;
          color: #2B2F43;
          text-decoration: none;
          &:hover {
            background: #EDEDED;
          }
        }
      }
    }
  }
}
