@import 'variables';

.content {
  background: #F2F2F2;
  padding: 68px 0 20px;
  .top-block {
    position: relative;
    .img-wrap {
      width: 814px;
    }
    .side-article-wrap {
      position: absolute;
      top: 86px;
      right: 8px;
      background: $white_dark;
      width: 420px;
      height: 279px;
      box-shadow: 0px 38px 87px -41px rgba(34, 60, 80, 0.6);
      .side-article {
        width: 420px;
        opacity: 0;
        height: 0;
        transition: 0.5s;
        &.active {
          opacity: 1;
          transition: 0.5s;
          .block-btn {
            display: block;
          }
        }
        .art-wrap {
          padding: 50px 33px;
          position: relative;
          z-index: 1;
        }
        .publish-date {
          font-size: 14px;
          font-weight: 400;
          color: #7F7B7B;
        }
        .title {
          font-weight: 600;
          font-size: 16px;
          color: #C63638;
        }
        .desc {
          font-size: 22px;
          font-weight: 700;
          color: #2B2F43;
        }
        .block-btn {
          display: none;
          background: #D72130;
          position: absolute;
          bottom: 0;
          a {
            display: block;
            padding: 11px 66px;
            color: $white_dark;
            font-weight: 600;
            text-decoration: none;
          }
        }
      }
    }
    .pagination {
      position: absolute;
      right: 0;
      bottom: 0;
      .arrow-left {
        margin-right: 14px;
      }
      .arrow-left,
      .arrow-right {
        border: 1px solid $gray_dark;
        border-radius: 50%;
        color: $gray_dark;
        position: relative;
        top: 6px;
        cursor: pointer;
      }
      .arrow-right {
        margin-left: 21px;
      }
      .page {
        font-size: 16px;
        font-weight: bold;
        color: #B2B2B2;
        margin-left: 10px;
        cursor: pointer;
        &.active {
          color: #C63638;
        }
      }
    }
  }
  .news-block {
    .new {
      padding: 11px 12px;
      display: inline-block;
      width: 202px;
      vertical-align: top;
      min-height: 275px;
      position: relative;
      &:hover {
        box-shadow: 0px 5px 100px -24px rgba(34, 60, 80, 0.2);
        .more {
          display: block;
        }
      }
      .img-wrap {
        width: 177px;
        height: 128px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .title{
        font-size: 22px;
        font-weight: 700;
      }
      .desc{
        font-size: 14px;
        font-weight: 400;
        color: #7F7B7B;
      }
      .more {
        display: none;
        color: $red_dark;
        position: absolute;
        bottom: 12px;
        right: 9px;
      }
    }
  }
  .separator {
    position: relative;
    border-top: 1px solid $gray;
    .center {
      border: 1px solid $gray;
      width: 176px;
      text-align: center;
      border-radius: 23px;
      top: -22px;
      padding: 11px 0;
      font-weight: 700;
      position: absolute;
      right: calc(50% - 88px);
      background: #FFFFFF;
      text-transform: uppercase;
    }
  }
  .news-2 {
    margin-top: 60px;
    border: 1px solid $gray_border;
    width: 389px;
    .img-wrap {

    }
    .title {
      padding: 12px 15px 26px;
      font-size: 22px;
      font-weight: 700;
    }
  }
}

.login {
  .left-side {
    position: relative;
    .home-link {
      position: absolute;
      background: $red;
      left: 0;
      top: 0;
      font-size: 22px;
      font-weight: 600;
      padding: 24px 68px;
      a {
        color: #FFFBFB;
      }
    }
    .img-wrap {
      max-width: 642px;
    }
  }
  .right-side {
    .form-label {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 16px;
    }
    .form-label2 {
      font-weight: 600;
      font-size: 12px;
      margin: 0 0 16px;
    }
    .form-label3 {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #596377;
      margin: 0 0 16px;
    }
    .form {
      width: 390px;
      position: absolute;
      top: 330px;
      right: 50px;
      label {
        color: #434C5D;
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        display: block;
      }
      input {
        padding: 12px 16px;
        border: 1px solid #D4D9E2;
        width: 100%;
        height: 42px;
        margin-bottom: 19px;
        outline: none;
        font-weight: 600;
        font-size: 12px;
        &::placeholder {
          color: #C6CCD7;
          font-weight: 600;
          font-size: 12px;
        }
      }
      input[type=submit] {
        background: $red;
        color: #FFF;
        border: none;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
      }
      .forgot-password {
        float: right;
        font-size: 10px;
        font-weight: 600;
        color: #4A90E2;
      }
      .email-sent {
        text-align: center;
        span {
          transform: rotate(-20deg);
          color: $red;
        }
      }
      .socials {
        margin-bottom: 16px;
        div {
          width: 32px;
          padding-top: 4px;
          height: 32px;
          border-radius: 50%;
          border: 1px solid #000;
          text-align: center;
          display: inline-block;
          margin-right: 8px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .back {
      text-align: center;
      a {
        font-size: 12px;
        font-weight: 600;
        color: #000;
      }
    }
    .register-wrap {
      text-align: right;
      padding: 35px 0;
      .register {
        font-size: 12px;
        font-weight: 600;
        color: #434C5D;
        margin-right: 35px;
      }
      .get-started {
        color: $red;
        font-size: 12px;
        font-weight: 700;
        padding: 8px 32px;
        border: 1px solid $red;
      }
    }
  }
}
