<footer>
  <div class="copyright">
    <div class="text">Copyright ©2019 Sports Hub</div>
    <div class="text">Privacy / Terms</div>
  </div>
  <div class="logo">
    <%= link_to 'Sports Hub', home_url %>
  </div>
</footer>
